.side-component{
    width: 380px;
    padding: 1.25rem;
    padding-top: 0;
    display: none;
}

.side-component img{
    width: 100%;
    height: 100%;

}

.image{
    height: 100%;
}

@media (min-width: 1023px){
    .side-component {
        display: block;
    }
}