
.flex{
  display: flex;
}

.flex-1{
  flex: 1 1 0%;
}
.w-full{
  width: 100%;
}

.z-50{
  z-index: 50;
}

.fixed {
  position: fixed;
}

.min-height{
  min-height: 100vh;
}
.bg-gray{
  background-color: rgb(243,244,246);
  opacity: 1;
}

.flex-col{
  flex-direction: column;
}

.block{
  display: block;
}

.h-full{
  height: 100%;
}