*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex{
  display: flex;
}

.align-item{
  align-items: center;
}

.justify-space{
  justify-content: space-between;
}

.flex-1{
  flex: 1 1 0%;
}
.w-full{
  width: 100%;
}

.z-50{
  z-index: 50;
}

.fixed {
  position: fixed;
}

.min-height{
  min-height: 100vh;
}
.bg-gray{
  background-color: rgb(243,244,246);
  opacity: 1;
}

.flex-col{
  flex-direction: column;
}

.block{
  display: block;
}

.h-full{
  height: 100%;
}

.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}